$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #03363D;
$primaryDark: #011f23;
$primaryLight: #046673;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;